{{ define "main" }}
  <div class="essay">
    <h1 class="essay-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    {{ with .Params.subtitle }}
      <span class="essay-subtitle">{{.}}</span>
    {{ end }}
<!-- Metadata -->
    <div class="essay-meta">
        <span class="essay-date">{{ .Date.Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}</span>
      {{ if not .Params.hide_reading_time }}
        <span class="esay-read-time">Reading time: {{ math.Round (div (countwords .Content) 220.0) }} min</span>
      {{ end }}
      {{ with .Params.Author }}
        <span class="essay-author"> {{ $.Site.Params.WrittenBy | default "Written by" }} {{ . }}</span>
      {{ end }}
      {{ if .Draft }}
        <span class="essay-stats"> {{ countwords .Content }} words </span>
      {{ end }}
    </div>
<!-- Tags -->
    {{ if .Params.tags }}
      <span class="essay-tags">
        {{ range .Params.tags }}
          <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">#{{ . }}</a>&nbsp;
        {{ end }}
      </span>
    {{ end }}
<!-- Cover -->
    {{ with .Resources }}
    {{ with .GetMatch "{cover,*.jpg,*.png,*.jpeg}" }}
      {{ $alt := .Params.alt }}
      {{ $author := .Params.author }}
      {{ $copyright := .Params.copyright }}
      {{ $cover := .Resize "400x" }}
      {{ with $cover }}
      <figure class="essay-cover">
          <img src="{{ .Permalink }}" alt="{{ $alt }}"/>
          <figcaption itemprop="copyright"><a href="{{ $copyright }}">Photo by {{$author}}</a></figcaption>
        </figure>
      {{ end }}
    {{ end }}
    {{end}}
<!-- Content -->
    <div class="essay-content">
      {{ if or .Params.Toc $.Site.Params.Toc }}
        <h2>Table of Contents</h2>
        <aside class="table-of-contents">{{ .TableOfContents }}</aside>
      {{ end }}
      {{ .Content }}
    </div>
  </div>
{{ end }}
